@media (max-width: 768px) {
  .custom-responsive-normal-text {
    font-size: 12px;
  }

  form span {
    font-size: 13px;
  }

  form label {
    font-size: 14px;
    font-weight: 500;
  }

  footer {
    font-size: 13px;
  }

  footer img {
    width: 30px;
  }

  .custom-responsive-normal-icon {
    width: 20px;
  }

  .custom-responsive-normal-img {
    width: 80px;
  }

  .responsive-icons {
    font-size: 12px;
  }
  .responsive-texts {
    font-size: 12px;
  }
}

/* Screen where grid single view show */
@media (max-width: 490px) {
  .fixed-height {
    height: 5rem;
  }
}

/* Toast Responsive Adjustments */
@media (max-width: 768px) {
  .toast-success,
  .toast-error {
    max-width: 90%; /* Adapt for smaller screens */
    font-size: 0.9rem; /* Adjust text size */
    font-weight: 500;
  }
}

@media (max-width: 480px) {
  .toast-success,
  .toast-error {
    margin-top: 4px;
    max-width: 99%; /* Further adjust for very small screens */
    font-size: 0.85rem;
    font-weight: 500;
  }
}

@media (max-width: 500px) {
  .text-for-short-space {
    font-size: 13px;
  }
}

@media (max-width: 475px) {
  .text-for-short-space {
    font-size: 12px;
  }
}

@media (max-width: 448px) {
  .text-for-short-space {
    font-size: 11px;
  }
}

/* @media (max-width: 420px) {
  .text-for-short-space {
    font-size: 10px;
  }
} */
